{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <h5>Name: </h5>
    <p>Fill me!</p>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
            <th>Description</th>
        </tr>
        {% comment %} Add the data below this line {% endcomment %}
    </table>
{% endblock content %}