{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container top-padding">
    <h2 class="logo-font mb-4 top-padding">Request a Commission</h2>
    <hr>
    <p><strong>Have something in mind, but can't see it on our site?</strong></p>
    <p>You can:</p>
    <ul>
        <li><strong>Bosch</strong> your favourite painting</li>
        <li>Choose another artist to imitate, or</li>
        <li>Ask us to create something totally new, based on your description</li>
    </ul>
    <p><strong>Just fill in the form below, and we'll get back to you!</strong></p>
    <br>
    <div class="col-12 col-lg-6">
        <form method = "post" action="{% url 'contact:commission' user.id %}" id="commission-form">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">
                {{ commission_form.name | as_crispy_field }}
                {{ commission_form.email | as_crispy_field }}
                {{ commission_form.description | as_crispy_field }}
                {{ commission_form.width_in_mm | as_crispy_field }}
                {{ commission_form.height_in_mm | as_crispy_field }}
                {{ commission_form.style | as_crispy_field }}
                {{ commission_form.artist | as_crispy_field }}
                {{ commission_form.framed | as_crispy_field }}
                {{ commission_form.medium | as_crispy_field }}
            </fieldset>
            <div class="submit-button text-right mt-5 mb-2">                    
                <button id="submit-button" class="btn btn-black rounded-0">
                    <span class="font-weight-bold">Submit</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>


    <!-- <form method = "post" action="{% url 'contact:commission' user.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"></input>
    </form> -->
    <br>
</div>


{% endblock content %}