{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container top-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font top-padding">{{ user.get_username }}'s Commissions <i class="fa-solid fa-paintbrush"></i></h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <!-- Showing the user how many artworks they have commissioned -->
                <div class="col text-center mt-3">
                    {% if commissions.all|length == 0 %}
                        <div class="col text-center mt-3">
                            <h2>You haven't commissioned any artwork yet!</h2>
                            <a href="{% url 'contact:commission' user.id %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fa-solid fa-paintbrush"></i>
                                </span>
                                <span class="text-uppercase">Request a Commission</span>
                            </a>
                        </div>
                    {% elif commissions.all|length == 1 %}
                        <p class="text-muted mt-3 text-center text-md-left">
                            You have commissioned - <strong>{{ commissions.all|length }}</strong> - piece of artwork
                        </p>
                    {% else %}
                        <p class="text-muted mt-3 text-center text-md-left">
                            You have commissioned - <strong>{{ commissions.all|length }}</strong> - pieces of art
                        </p>
                    {% endif %}
                </div>
            </div>
            <!-- List users commissions -->
            {% for commission in commissions %}
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Date: </strong>{{ commission.last_modified|date:"F d, Y" }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Description</strong></h5>
                        <h5 class="card-title">{{ commission.description }}</h5>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Width (in mm) <i class="fa-solid fa-ruler-combined"></i></strong></h5>
                                        <p class="card-text">{{ commission.width_in_mm }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Height (in mm) <i class="fa-solid fa-ruler-combined"></i></strong></h5>
                                        <p class="card-text">{{ commission.height_in_mm }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Style <i class="fa-solid fa-image"></i></strong></h5>
                                        <p class="card-text">{{ commission.style }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Medium <i class="fa-solid fa-fill-drip"></i></strong></h5>
                                        <p class="card-text">{{ commission.medium }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Artist <i class="fa-solid fa-chalkboard-user"></i></strong></h5>
                                        <p class="card-text">{{ commission.artist }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Framed? <i class="fa-regular fa-square"></i></strong></h5>
                                        <p class="card-text">
                                            {% if commission.framed %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p><i class="fa-regular fa-comments"></i><strong> Status: </strong></p>
                        <p>{{ commission.status }}</p>
                    </div>
                </div>
                <br>
                <br>
            {% endfor %}
        </div>
    </div>
    


</div>
{% endblock content %}